# Introduction to Python

### But what is a variable?

A variable is way to store information.
In the `print_sum` example `z` is a variable to the result of `x + y`

Variables are names for values.
In Python the = symbol assigns the value on the right to the name on the left.
The variable is created when a value is assigned to it.
Here, Python assigns an age to a variable age and a name in quotation marks to a variable first_name.

*   Variables are names for values.
*   In Python the `=` symbol assigns the value on the right to the name on the left.
*   The variable is created when a value is assigned to it.
*   Here, Python assigns an age to a variable `age`
    and a name in quotation marks to a variable `first_name`.

In [ ]:
age = 29
first_name = 'Christian'

In [ ]:
age

If we try to access a variable that we didn't define we get an error:

In [ ]:
last_name

This is a **Traceback**, comes directly from the Python interpreter.
<u>It's the Python way to tell us where we made a mistake.</u>

In this case we have an error called **NameError** and a message `name 'last_name' is not defined`

### How can we make this code works?

In [ ]:
# Write your code here

### Remember
*   Variable names:
    *   can't start with a digit
    *   can't contain spaces, quotation marks, or other punctuation
    *   *may* contain an underscore (typically used to separate words in long variable names)
*   Underscores at the start like `__alistairs_real_age` have a special meaning
    so we won't do that until we understand the convention.

### We can reassing variables and mix them

In [ ]:
age = 18
first_name = first_name + " " + 'Calogero'
first_name

### Remember variables' names are CASE SENSITIVE

In [ ]:
FIRST_NAME = FIRST_NAME + 'Calogero'

### FIRST_NAME IS NOT first_name

### Printing variables

Do you remember our first lines of code?

In [ ]:
def print_sum(x, y):
    z = x + y
    print(z)

**print** is the function we need to use when we want to print something

In [ ]:
print(first_name)

In [ ]:
print(age)

In [ ]:
print("Hello there")

In [ ]:
print(1)

As you can see we can print **variables** but also **values**

How can I print: `My name is *first_name* and I am *age* old`?

In [ ]:
print(f"My name is {first_name} and I am {age} old")

let's change this a little bit

In [ ]:
first_name = "Christian"
age = 29

In [ ]:
print(f"My name is {first_name} and I am {age} old")

We have 3 components here:
    * print function
    * f""
    * variables inside {}

We already know the print function , what is new here is the **f""** notation.

It's a new notation called f-strings (available from Python 3.6) to format strings in Python.

Basically we put our text inside f"" and the variables we want to be replaced by their values inside curly brackets, like {first_name}.

This is a real power notation and you can it also when you create variables like this:

In [ ]:
message = f"My name is {first_name} and I am {age} old"

In [ ]:
print(message)

### Exercise

Spend ~5 minutes playing with **variables** and **print**

### Challenge 1

What is the final value of `position`?

initial = "left"
position = initial
initial = "right"

### Challenge 2

What is this code doing?

In [ ]:
s = 60
m = s * 60

### Recap

- "Use variables to store values."
- "Use `print` to display values."
- "Variables must be created before they are used."
- "Variables can be used in calculations."
- "Python is case-sensitive."
- "Use meaningful variable names."

## Introduction to Python built-in data types

In Python there are mainly 4 data types:

* Strings
* Numbers
* Lists
* Dictionaries

## Strings

In [ ]:
string_1 = 'This is a string'

In [ ]:
string_2 = "This is also a string"

In [ ]:
string_3 = '''This is a multi lines
            strings and it works fine'''

In [ ]:
string_4 = """This is a multi lines
            strings and it works fine"""

We can `sum` string together, we `concatenate` them

In [ ]:
first_name = 'Christian'
last_name = 'Barra'
name = first_name + last_name

In [ ]:
name

In [ ]:
# type

You can also multiply a string for a number

In [ ]:
name * 5

But not I want to multiply my name for 1.5!

In [ ]:
name * 1.5

Let's take about this error!

## Numbers

So far we have see 2 types of numbers:
    * 5 -> integer
    * 1.5 -> float
    
This are the main numberical types in Python

Integer is a number without decimal parts.

A float number is a rappresentation of a fraction, as a consequence is an aprozzimation!

In [ ]:
integer_1 = 1
integer_2 = 10
integer_1 + integer_2

In [ ]:
integer_1 = 1
integer_2 = "10"
integer_1 + integer_2

You would probably see this error very often, when you are trying to do operation between types that are not compatible

In [ ]:
## But we can do this
integer_1 = 1
integer_2 = "10"
integer_1 + int(integer_2)

This is operation is called `casting`, we are forcing a conversion to another type, in this case from string to int.

We can also cast to str (string) and we saw the sum (+) operation before.
```python
integer_1 = 1
integer_2 = "10"
str(integer_1) + integer_2;
```

What will be the result of this operation?

We can sum integers and floats together

In [ ]:
int_1 = 5
float_1 = 5.5

In [ ]:
int_1 + float_1

Internally Python does a casting conversion from int to float, basically

In [ ]:
float(5) + 5.5

## List

### I **love** lists!
Lists are a **indexed** collection of (also mixed) elements.
With **mixed** I mean you can put different types of variables.

# This is how you create a list

In [104]:
my_first_list = [1,2,3,4,5]

In [ ]:
my_first_list

In [106]:
a_mixed_list = [1,2,"Ciao"]

In [107]:
a_mixed_list

[1, 2, 'Ciao']

In [114]:
# this is useful when you can to cast something to a list
my_first_list = list((1,2,3,4,5))

In [115]:
my_first_list

[1, 2, 3, 4, 5]

In [116]:
my_letters = list("Christian")

In [117]:
my_letters

['C', 'h', 'r', 'i', 's', 't', 'i', 'a', 'n']

Lists are very flexible and they allow many operations.
For example you can sum 2 lists

In [118]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

In [119]:
a + b

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

As with the strings more than summing we are concatenating our lists.

Same goes with multiplication, a * 3 is equal to a + a + a

In [120]:
a*3

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [121]:
a + a + a

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

If you want to add a new element to a list you can use `append`.

In [122]:
l = [] # this is an empty list

In [123]:
l.append(1)

In [124]:
l

[1]

> ## HINT ##
> Did you notice `#` inside the code? __It's how you put comments in Python__

Back to adding elements you can also use the sum operator (+) but is nt really Pythonic...

In [129]:
l = []
l = l + [1]
l

[1]

**So, generally, just avoid this practise.**

What about deleting an element?

In [130]:
l = [1,2,3,4,5]

In [131]:
l

[1, 2, 3, 4, 5]

In [132]:
l.pop()

5

In [133]:
l

[1, 2, 3, 4]

**pop** removes and returns the last element when you don't specify and index

In [134]:
l = [1,2,3,4,5]

If you specificy and index betweenn () it will remove that element.

In [135]:
l.pop(1)

2

In [136]:
l

[1, 3, 4, 5]

I deleted the first element, index 1, why 2 has been removed?

First, lists are an indexed collection of elements, so they have and index and an order.

**The index starts from 0 not from 1**

So **index n. 1 is the second element**, while index 0 is the first element.

With this concept we can introduce the brackets notation.

In [137]:
l = [1,2,3,4,5]

We can access an element of a list using the brackets notation with an index inside:

In [138]:
l[0]

1

In [139]:
l[1]

2

The element should exist:

In [140]:
l[100000]

IndexError: list index out of range

Otherwise we would get an error.

We can also **slice** lists:

In [141]:
l[0:2]

[1, 2]

This is what we called **slicing**.

Slicing is very powerful Python, is builty by, for now, 2 parts:
    * the first index of the element, **this element will be included**
    * the last index of element we want to consider, but **it won't be included**
    
 **Slicing returns a new list**

2 important concepts:
    * slicing is not like accessing an element
    * slicing returns a list
    * slicing don't raise a `list index out of range` but returns an empty list

In [142]:
l[-50:-20]

[]

In [143]:
l[-50:20]

[1, 2, 3, 4, 5]

In [144]:
l[0:10000000000]

[1, 2, 3, 4, 5]

Time for cool tricks:

In [145]:
l[:]

[1, 2, 3, 4, 5]

* If you avoid putting the first index it means `from the beginning`
* If you avoid putting the last index it means `till the end of the list`
You can also mix the concepts together

In [146]:
# From element with index 1 till the end
l[1:]

[2, 3, 4, 5]

In [147]:
# from the beginning of the list till element with index 4, not included
l[:4]

[1, 2, 3, 4]

In [148]:
# Element with index 4 is:
l[4]

5

### Small disgression: back to strings

In [149]:
a_string = "Hello there, how is going?"

In [150]:
a_string[0]

'H'

In [151]:
a_string[4:10000]

'o there, how is going?'

In [152]:
a_string[:]

'Hello there, how is going?'

Same slicing concepts can be applied to strings

Before moving to the next type

In [153]:
l = [1,2,3,4,5]

In [154]:
l[0] = "Ciao"

In [155]:
l

['Ciao', 2, 3, 4, 5]

This is how you change a valua inside the list.

Nitty great details and best practices:
    * avoid popping with an index
    * avoid **adding** elements at the beggining/in the middle of your list.

## Dictionary

Dictionaries are a key=value collection, they are not ordered (opposed to **lists that are ordered**) and you can put mixed types of variables inside (as for the **lists**.

This is how you create a dictionary:

In [156]:
my_first_dictionary = {"my_key":"my_value"}

In [157]:
my_first_dictionary

{'my_key': 'my_value'}

In [158]:
my_first_dictionary = dict(my_key="my_value")

In [160]:
my_first_dictionary

{'my_key': 'my_value'}

How can we add a new element to a dictionary?

We already know the brackets notation, but with **dicts** we use the key instead of the index

In [161]:
my_first_dictionary['new_key'] = "My new key"

In [162]:
my_first_dictionary

{'my_key': 'my_value', 'new_key': 'My new key'}

If  we want to access the element of a dict we use the same notation

In [163]:
my_first_dictionary['new_key']

'My new key'

If the element does not exist we get an error

my_first_dictionary['an_element']

One way to avoid this is using **get**

In [166]:
my_first_dictionary.get("an_element")

If the element with key `an_element` does not exist we the default value, None if something is not specified

In [167]:
my_first_dictionary.get("an_element", "My default value")

'My default value'

How do you delete an element?

In [171]:
my_first_dictionary

{'my_key': 'my_value', 'new_key': 'My new key'}

In [172]:
del my_first_dictionary["my_key"]

In [173]:
my_first_dictionary

{'new_key': 'My new key'}

In [174]:
# Remeber to check if the key exists when deleting an element
del my_first_dictionary["my_key"]

KeyError: 'my_key'

In [175]:
# Otherwise you can use pop with a default value
my_first_dictionary.pop("my_key", None)

You can't add dicts but you can update one using values from another one, but pay attention to elements with the same keys.

In [176]:
my_first_dictionary = {"my_key":"my_value", "1": []}

In [177]:
my_second_dictionary = {"my_key":"my_2_value", "2":"my_second_value"}

In [178]:
my_first_dictionary.update(my_second_dictionary)

In [179]:
my_first_dictionary

{'1': [], '2': 'my_second_value', 'my_key': 'my_2_value'}

## That's all for Python data types for now!

# Recap

* We have 4 main data types:
    * Strings
    * Numbers (Integers and floats)
    * Lists
    * Dictionaries
* We can slice:
    * strings
    * lists
* We can append new elements to a list
* We can add new keys to a dictionary
* Something that exists but we didn't talk about: tuple and set

# Challenges
Take around 5 minutes to play with this code:

In [191]:
# Now I want to add the students that I miss from the list inside the dictionary
# student n. 4 is Bartosz and number 5 is Wioleta
# Use the way that you prefer, at the end you should obtain a dict with they keys that you don't have (4,5)
list_of_student_id = [1,2,3,4,5]
student_names = {1: "Christian", 2:"Monika", 3: "Lucasz"}

In [192]:
# We have the list of new students and we want to add the add this new elements to the old one
# How can we do this?
old_students = {1: "Christian", 2:"Monika", 3: "Lucasz"}
new_students = {6: "Anna", 7:"Jacek", 8: "Arnold"}

In [194]:
# I'd like 2 new variables, first_name and last_name
# How can you extract first_name and last_name from my_name?
my_name = "Christian Barra"
# first_name = my_name[:?]
# last_name = my_name[?:]